@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Booking_Backend.Data.Enums;
@using Booking_Frontend.WebApp.Models.Owner;
@model NotifyBookingViewModel;
@{
    ViewData["Title"] = "Owner Home Page";
    Layout = "_LayoutOwner";
}
﻿@{
    var culture = CultureInfo.CurrentCulture.Name;
}

<div id="layoutSidenav_content">
    <div class="container">
        <div class="homeowner-page">
            <div class="title-addbooking d-flex">
                <div class="title">
                    <h3>Bảng thông báo đặt phòng</h3>
                </div>
                <div class="addbooking">
                    <div class="btn btn-outline-primary">Thêm đặt phòng</div>
                </div>
            </div>
        </div>
        <div class="pl-3">
            <div class="row ">
                <div class="col-md-8">
                    <div class="col-md-12">
                        <form method="post" action="/">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="search-by-id d-flex">
                                        <input class="form-control searchId" placeholder="ID booking..." />
                                        <button class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex">
                                    <div class="search-by-id d-flex">
                                        <select asp-items="Html.GetEnumSelectList<StatusBooking>()" class="form-select mr-2"></select>
                                        <button class="btn btn-outline-primary"><i class="bi bi-funnel"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="homeowner-table">
            <table class="table table-hover table-striped table-all-booking">
                <thead>
                <th></th>
                <th class="id-booking">#Booking</th>
                <th>Đơn hàng</th>
                <th class="number-guest">Số khách</th>
                <th>Người đặt</th>
                <th>Trạng thái</th>
                <th>CheckIn</th>
                <th>CheckOut</th>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.BookingOwnerViewModel)
                        {
                            <tr>
                                <td></td>
                                <td>Booking - <a href="/detail-booking/@item.Id" class="underline-none">#@item.Id</a></td>
                                <td><a href="/detail-booking/@item.Id" class="underline-none">@item.RoomType.RoomTypeTranslations.FirstOrDefault().Name</a> </td>
                                <td>2</td>
                                <td><a href="/detail-booking/@item.Id" class="underline-none">@item.GuestCustomer.FullName </a></td>
                                <td><a href="/detail-booking/@item.Id" class="underline-none">#@item.Id</a> - @item.Status</td>
                                <td>@item.CheckIn</td>
                                <td>@item.CheckOut</td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                <th></th>
                <th class="id-booking">#Booking</th>
                <th>Đơn hàng</th>
                <th class="number-guest">Số khách</th>
                <th>Người đặt</th>
                <th>Trạng thái</th>
                <th>CheckIn</th>
                <th>CheckOut</th>
                </tfoot>
            </table>
        </div>
    </div>
</div>