@using Booking_Backend.Data.Enums;
@model DetailViewModel
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@{
    ViewData["Title"] = "Trang chi tiết";
    Layout = "_Layout";
}

@section IndexStyle {
    <link rel="stylesheet" href="~/style/hotel/detail.css">
}


    <div class="container">
        <div class="row main-page">
            @* <div class="col-md-3 main-page-content left-bar">
                <div class="searchbox-layout-vertical" style="height: 504px; border-color: #ccc">
                    <h4>Tìm theo</h4>
                </div>
            </div> *@
            <div class="col-md-12 main-page-content main-content">
                <div class="info-layout-full">
                    <h4>@Model.HotelDetail.HotelTranslations.FirstOrDefault().Name</h4>
                    <div class="info-title-hotel">
                        <a href=""><i class="bi bi-pin-map-fill"></i></a>
                    <p>@Model.HotelDetail.HotelTranslations.FirstOrDefault().Area - @Model.HotelDetail.HotelTranslations.FirstOrDefault().Address - </p>
                        <a href="#">
                            <div localize-content> Hiển thị bản đồ</div>
                        </a>
                    </div>
                    <div class="list-img-hotel">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row pb-2">
                                    <div class="col-md-12 pr-2">
                                    @if (Model.HotelDetail.Images.Count >= 1)
                                    {
                                        <img src="@(Configuration["HostServer"] + Model.HotelDetail.Images[0].ImageUrl)" alt="" class="img-1-1">
                                    } else
                                    {
                                        <img src="" alt="" class="img-1-1">
                                    }
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pr-2">
                                    @if (Model.HotelDetail.Images.Count  >= 2)
                                    {
                                        <img src="@(Configuration["HostServer"] + Model.HotelDetail.Images[1].ImageUrl)" alt="" class="img-1-2">
                                    }
                                    else
                                    {
                                        <img src="" alt="" class="img-1-2">
                                    }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 pl-0">
                            @if (Model.HotelDetail.Images.Count >= 3)
                            {
                                <img src="@(Configuration["HostServer"] + Model.HotelDetail.Images[2].ImageUrl)" alt="" class="img-2">
                            }
                            else
                            {
                                <img src="" alt="" class="img-2">
                            }
                            </div>
                        </div>
                        <div class="row list-thimbnail">
                        @{
                            if (Model.HotelDetail.Images.Count>=3)
                            {
                                int startIndex = 3; // Bắt đầu từ phần tử thứ 4
                                for (int i = startIndex; i < Model.HotelDetail.Images.Count; i++)
                                {
                                    <div class="col-md-2 card-img-3 pr-1 pl-1">
                                        @if(Model.HotelDetail.Images[i].ImageUrl != null) {
                                            <img style="height: 100px" src="@(Configuration["HostServer"] + Model.HotelDetail.Images[i].ImageUrl)" alt="">
                                        } else
                                        {
                                            <img style="height: 100px" src="" alt="">
                                        }
                                    </div>
                                }
                            }
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row feature-extension pb-5">
            <div class="col-md-12">
                <div class="row pb-3">
                @foreach(var item in Model.ServiceHotels)
                {
                    <div class="col-md-2 extension-item pr-3 pl-0 mt-2">
                        <div>@item.Name</div>
                    </div>
                }
                </div>
            </div>
        </div>
        <div class="row description-hotel">
            <div class="col-md-9">
                <div class="description-content">
                @Model.HotelDetail.HotelTranslations.FirstOrDefault().Description
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-checksave">
                    <div class="pb-2">Bạn chưa có quyết định ?</div>
                    <div class="btn-savehotel">
                        <input type="submit" value="Lưu chỗ nghỉ">

                    </div>
                </div>
            </div>
        </div>
        <div class="row show-room">
            <h3>Phòng trống</h3>
            @* <div class="search-room">
                <div class="container">
                    <div class="row search-box">
                        <div class="col-md-4">
                            <div class="search-by-location search-by">
                                <i class="bi bi-search mr-3"></i>
                                <input type="text" name="" placeholder="Hà Nội, An Giang, Đà Nẵng?" id="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="search-by-datetime search-by">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-3 d-flex align-items-center">
                                                    <i class="bi bi-calendar2"></i>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <span style="font-size: 14px;">
                                                            <input class="date-check" type="date">
                                                        </span>
                                                    </div>
                                                    <div class="row">
                                                        <span style="font-size: 16px; color: #908a8a">CheckIn</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 before-calender">
                                            <div class="row">
                                                <div class="col-md-3 d-flex align-items-center">
                                                    <i class="bi bi-calendar2-check"></i>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <span style="font-size: 14px;">
                                                            <input class="date-check" type="date">
                                                        </span>
                                                    </div>
                                                    <div class="row">
                                                        <span style="font-size: 16px; color: #908a8a">CheckOut</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="search-by-people-and-find search-by">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-3 d-flex align-items-center">
                                                    <i class="bi bi-people" style="font-size: 20px;"></i>
                                                </div>
                                                <div class="col-md-9" style="padding-left: 20px;">
                                                    <div class="row">
                                                        <span style="font-size: 14px;">27/03 năm 2024</span>
                                                    </div>
                                                    <div class="row">
                                                        <span style="font-size: 16px; color: #908a8a">Thứ Tư</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex align-items-center">
                                    <button class="btn btn-info" style="padding: 10px 50px;">TÌM</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@
            <div class="room-list pt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-2">Loại chỗ nghỉ</th>
                            <th class="col-md-2">Tiện ích phòng</th>
                            <th class="col-md-1">SL khách</th>
                            <th class="col-md-2">Giá hôm nay</th>
                            <th class="col-md-1">Còn trống</th>
                            <th class="col-md-2"></th>
                        </tr>
                    </thead>
                <tbody class="room-detail-body">
                    @foreach(var item in Model.Rooms)
                    {
                        <form method="post" asp-controller="Booking" asp-action="ConfirmInfo" asp-route-culture="@culture">
                            <tr>
                                <input type="hidden" name="RoomId" value="@item.Id"/>
                                <input type="hidden" name="HotelId" value="@Model.HotelDetail.Id"/>
                                <td>
                                    <input type="hidden" name="HotelName" value="@Model.HotelDetail.HotelTranslations.FirstOrDefault().Name" />
                                    <input type="hidden" name="Address" value="@Model.HotelDetail.HotelTranslations.FirstOrDefault().Address" />
                                    <input type="hidden" name="Hotline" value="@Model.HotelDetail.Hotline" />
                                    <a href="">@item.RoomType.RoomTypeTranslations.FirstOrDefault().Name</a>
                                    <input type="hidden" name="RoomTypeName" value="@item.RoomType.RoomTypeTranslations.FirstOrDefault().Name" />
                                    <div style="font-size: 15px">@item.Bed.BedTranslations.FirstOrDefault().Name</div>
                                    <input type="hidden" name="BedName" value="@item.Bed.BedTranslations.FirstOrDefault().Name" />
                                    <br>
                                    <span class="description-room-item">Mô tả loại giường: </span>
                                    <p class="desroom-content">
                                        @item.Bed.BedTranslations.FirstOrDefault().Description    
                                    </p>
                                </td>
                                <td>
                                    @foreach (var extension in item.Room_Extensions)
                                    {
                                        <div style="font-weight: 300; font-size: 14px" class="extenname-item">
                                            - @if(extension.Extension.ExtensionTranslations.Count > 0)
                                            {
                                                <text>@extension.Extension.ExtensionTranslations.FirstOrDefault().Name</text>
                                            }
                                        </div>
                                    }    
                                </td>
                                <td>@item.Maximum</td>
                                <td style="font-size: 25px;">
                                    <input type="hidden" name="Price" value="@item.PriceOverNight" />
                                    @Convert.ToInt32(item.PriceOverNight) <span>VND</span>
                                        <div class="price-old">200.000 <span>VND</span></div>
                                        <div class="VAT-room">Đã bao gồm thuế và phí</div>
                                </td>
                                <td class="d-flex justify-content-center" style="border: none; border-top: thin solid #ccc">
                                    <div class=" d-flex align-items-center justify-content-center" style="font-size: 20px; border: thin solid #ccc; height:45px; width: 60px; background-color: #f7f3f3;">
                                        @(item.Status == StatusRoom.Empty?1:0)
                                    </div>
                                </td>
                                <td class="column-result">
                                    <select name="RoomQuality" class="form-control">
                                        @if(item.Status == StatusRoom.Empty)
                                        {
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                        }else
                                        {
                                        <option value="0">0</option>
                                        }
                                    </select>
                                    @if(item.Status == StatusRoom.Empty)
                                    {
                                        <span style="color:blue; font-weight:300; font-size:15px">Chúng tôi còn 1 phòng trống</span>
                                    }      else
                                    {
                                        <span style="color:red; font-weight:300; font-size:15px">Chúng tôi đã hết phòng trống</span>
                                    }
                                    <h4 class="pt-3"><span class="total-price">0</span>VND </h4>
                                    <p style="font-weight: 300; font-size: 14px">Đã bao gồm thuế</p>
                                    @if(item.Status==StatusRoom.Empty)
                                    {
                                        <input type="submit" value="Tôi sẽ đặt" style="width: 100%" class="btn btn-primary">
                                    }else
                                    {
                                        <input disabled type="submit" value="Đã bán hết" style="width: 100%" class="btn btn-outline-primary">
                                    }
                                    <p class="pt-2" style="font-weight: 300; font-size: 14px">
                                        * Bạn sẽ được chuyển đến bước
                                        kế tiếp
                                    </p>
                                </td>
                            </tr>
                        </form>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
