@using Booking_Backend.Repository.Common;
@using Booking_Backend.Repository.Users.ViewModel;
@model APIResult_Success<UserViewModel>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;


@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section UpdateStyle {
    <link rel="stylesheet" href="~/css/Users/update.css"> 
}

<div class="header-action">
    <h1 class="tag-action">Cập nhật thông tin người dùng</h1>
    <div class="user-action">Người dùng: <span class="username-action">@Model.ResultOject.Email</span></div>
</div>

<div class="container user-info-base">
    <form asp-action="update" asp-controller="user" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <div class="p-a-10">
                    <div class="row">
                        <div class="col-md-12 card-info-group area-1">
                            <div class="group-profile">
                                <div class="profile-id">
                                    <div class="form-group">
                                        <label asp-for="@Model.ResultOject.Id" class="control-label"></label>
                                        <input readonly asp-for="@Model.ResultOject.Id" class="form-control" name="Id" />
                                        <span asp-validation-for="@Model.ResultOject.Id" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="profile-username">
                                    <div class="form-group">
                                        <label asp-for="@Model.ResultOject.UserName" class="control-label">Tên người dùng</label>
                                        <input asp-for="@Model.ResultOject.UserName" class="form-control" name="UserName" />
                                        <span asp-validation-for="@Model.ResultOject.UserName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="profile-email">
                                    <div class="form-group">
                                        <label asp-for="@Model.ResultOject.Email" class="control-label">Thư điện tử</label>
                                        <input readonly asp-for="@Model.ResultOject.Email" class="form-control" />
                                        <span asp-validation-for="@Model.ResultOject.Email class=" text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 card-info-group area-2">
                            <div class="group-profile">
                                <div class="profile-displayName">
                                    <div class="form-group">
                                        <label asp-for="@Model.ResultOject.DisplayName" class="control-label">Tên hiển thị</label>
                                        <input asp-for="@Model.ResultOject.DisplayName" class="form-control" name="DisplayName" />
                                        <span asp-validation-for="@Model.ResultOject.DisplayName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="profile-phoneNumber">
                                    <div class="form-group">
                                        <label asp-for="@Model.ResultOject.PhoneNumber" class="control-label">Số điện thoại</label>
                                        <input asp-for="@Model.ResultOject.PhoneNumber" class="form-control" name="PhoneNumber" />
                                        <span asp-validation-for="@Model.ResultOject.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="profile-nation">
                                    <div class="form-group">
                                        <label asp-for="@Model.ResultOject.Nation" class="control-label">Quốc tịch</label>
                                        <input asp-for="@Model.ResultOject.Nation" class="form-control" name="Nation" />
                                        <span asp-validation-for="@Model.ResultOject.Nation class=" text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-a-10">
                    <div class="row">
                    <div class="col-md-12 group-profile card-info-group area-3">
                    <div class="profile-firstname p-t-9">
                        <div class="form-group">
                            <label asp-for="@Model.ResultOject.FirstName" class="control-label">Họ</label>
                                    <input asp-for="@Model.ResultOject.FirstName" class="form-control" name="FirstName" />
                            <span asp-validation-for="@Model.ResultOject.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                        <div class="profile-lastname p-t-9">
                        <div class="form-group">
                            <label asp-for="@Model.ResultOject.LastName" class="control-label">Tên</label>
                                    <input asp-for="@Model.ResultOject.LastName" class="form-control" name="LastName" />
                            <span asp-validation-for="@Model.ResultOject.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="profile-birthday p-t-9">
                        <div class="form-group">
                            <label asp-for="@Model.ResultOject.Birthday" class="control-label">Sinh nhật</label>
                                    <input asp-for="@Model.ResultOject.Birthday" class="form-control form-control-customize" name="Birthday" />
                            <span asp-validation-for="@Model.ResultOject.Birthday class=" text-danger"></span>
                        </div>
                    </div>
                            <div class="profile-gender p-t-9">
                        <div class="form-group">
                            <label asp-for="@Model.ResultOject.Gender" class="control-label">Giới tính</label>
                            <div class="gender-group">
                                <span class="radio-gender">
                                            <input type="radio" @(Model.ResultOject.Gender == "Nam" ? "checked" : "") name="Gender" value="Nam" class="gender-item radio-Nam" />Nam
                                </span>
                                <span class="redio-gender">
                                            <input type="radio" @(Model.ResultOject.Gender == "Nữ" ? "checked" : "") name="Gender" value="Nữ" class="gender-item radio-Nu" />Nữ
                                </span>
                            </div>                                                          
                            <span asp-validation-for="@Model.ResultOject.Gender class=" text-danger"></span>
                        </div>
                    </div>
                            <div class="profile-address p-t-9">
                        <div class="form-group">
                            <label asp-for="@Model.ResultOject.Address" class="control-label">Địa chỉ</label>
                                    <input asp-for="@Model.ResultOject.Address" class="form-control" name="Address" />
                            <span asp-validation-for="@Model.ResultOject.Address" class="text-danger"></span>
                        </div>
                    </div>
                            <div class="profile-dasboard p-t-9">
                        <div class="form-group">
                            <label asp-for="@Model.ResultOject.Dashboard" class="control-label">CCCD</label>
                                    <input readonly asp-for="@Model.ResultOject.Dashboard" class="form-control" name="Dashboard" />
                            <span asp-validation-for="@Model.ResultOject.Dashboard class=" text-danger"></span>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-img-wrap card-img wrap-img-user">
                    <div class="upload-container">
                        <div class="avatarPreview">
                            <img class="avatar-preview-img" src="@(Configuration["HostServer"] + Model.ResultOject.Avatar.ImageUrl)" />
                        </div>
                        <div class=" wrap-img-user">
                            <input type="file" id="uploadInput" class="upload-input" name="Avatar" accept="image/*" onchange="previewAvatar(event)">
                            <label for="uploadInput" class="upload-label">Chọn tệp ảnh</label>
                        </div>
                    </div>
                </div>
                <div class="group-control p-t-20">
                    <div class="wrap-btn-control">
                        <button type="submit" class="btn btn-info text-light btn-control">Cập nhật</button>
                        <button class="btn btn-danger btn-control">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

